.custom-page__pagination {
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  clear: both;
}

.custom-page__pagination-display{
  display: flex;
  justify-content: space-between;
}

.custom-page__pagination-title {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 10px;
  padding-top: 2rem;
  font-size: $type-size-6;
  border-top: 1px solid $border-color;
  text-transform: uppercase;
}

.test{
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 10px;
  padding-top: 2rem;
  font-size: $type-size-6;
  border-top: 1px solid $border-color;
  text-transform: uppercase;
  text-align: right;
}

.test a:link {
    color : $text-color;
   }
.test a:visited {
  color : $text-color;
}
.test a:hover {
  color : $text-color;
}
.test a:active {
  color : $text-color
}

.custom-page__pagination-utterances {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
}

.custom-page__pagination-timeline {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  margin: 16px 0;
  padding: 0 4px;
}

.custom-page__pagination-timeline h1 {
  font-weight: 600;
  margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.custom-page__pagination-header {
    margin: 0;
    padding-left: 16px;
    font-size: 14px;
    color: #586069;
}
@media screen and (min-width: 593px){
.custom-page__pagination-header {
    padding-left: 60px;
}
}
