.custom-page__pagination {
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  clear: both;
}

.custom-page__pagination-display{
  display: flex;
  justify-content: space-between;
}

.custom-page__pagination-title {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 10px;
  padding-top: 2rem;
  font-size: $type-size-6;
  border-top: 1px solid $border-color;
  text-transform: uppercase;
}

.test{
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 10px;
  padding-top: 2rem;
  font-size: $type-size-6;
  border-top: 1px solid $border-color;
  text-transform: uppercase;
  text-align: right;

}

.test2{
    color: $text-color;
}
.test a:link {
    color : pink;
   }
.test a:visited {
  color : black;
}
.test a:hover {
  color : red;
}
.test a:active {
  color : green
}


