/*{% assign _category = page.categories[0] %}
{% assign _posts = site.categories[_category] %}
<nav class="custom-page__pagination">
  <div class="custom-page__pagination-display">
    <h4 class="custom-page__pagination-title"> {{ _category }}카테고리의 다른 글</h4>
    <h4 class="custom-page__pagination-title-right"><a href="/categories/#{{ _category }}">전체글 보기</a></h4>
  </div>
    <div class="custom-pagination-timeline">
      <h1 class="custom-pagination-timeline-header">0 Posts<em> - Github</em></h1>
      <div class="custom-comment">
        <ul>
          <li >
            <h4 class="title">목차</h4>
          </li>
          {% for post in _posts %}
            <li>
              <a href="{{ post.url | relative_url }}" rel="permalink">{{ post.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
</nav>*/

{% if page.previous or page.next %}
  <nav class="pagination">
    {% if page.previous %}
      <a href="{{ page.previous.url | relative_url }}" class="pagination--pager" title="{{ page.previous.title | markdownify | strip_html }}">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a>
    {% endif %}
    {% if page.next %}
      <a href="{{ page.next.url | relative_url }}" class="pagination--pager" title="{{ page.next.title | markdownify | strip_html }}">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</a>
    {% else %}
      <a href="#" class="pagination--pager disabled">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</a>
    {% endif %}
  </nav>
{% endif %}
