{% assign _category = page.categories[0] %}
{% assign _posts = site.categories[_category] %}
<nav class="custom-page__pagination">
  <div class="custom-page__pagination-display">
    <h4 class="custom-page__pagination-title"> {{ _category }}카테고리의 다른 글</h4>
    <h4 class="test"><a href="/categories/#{{ _category }}">전체글 보기</a></h4>
  </div>
  <div class="utterances">
  <ul>
    {% for post in _posts %}
    <li>
      <a href="{{ post.url | relative_url }}" rel="permalink">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
  </div>
</nav>
